<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 id="titreAjouterUneCommande" [innerHTML]="txtTitre"></h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form class="form-horizontal" #ajouterCommandeForm="ngForm" (submit)="onSubmit()">
        <div class="form-group row">
          <label for="numero" class="col-sm-2 control-label">Animal</label>
          <div class="col-sm-10">
            <div class="input-group">
                  <span class="input-group-append"><div class="input-group-text">FR</div></span>
                  <input type="number" name="numero" id="numNational" autocomplete="off" [(ngModel)]="animal.numeroNational" minlength="10" maxlength="10" required>
              </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="poids" class="col-sm-2 control-label">Poids carcasse</label>
          <div class="col-sm-10">
            <div class="input-group">
                <input type="number" name="poids" id="poids" autocomplete="off" [(ngModel)]="poids" minlength="3" maxlength="3">
                <span class="input-group-append"><div class="input-group-text">Kg</div></span>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioTypePoids" [(ngModel)]="typePoids" required>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" name="typePoidsE" id="poidsEstime" autocomplete="off" value= "E"> Estimé
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" name="typePoidsR" id="poidsReel" autocomplete="off" value= "R"> Réel
                  </label>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="dateER" class="col-sm-2 control-label">Date dispo</label>
          <div class="col-sm-10">
            <input type="date" name="dateER" id="dateEstimeeReelle" autocomplete="off" [ngModel]="dateLivraison | date:'yyyy-MM-dd'" (ngModelChange)="dateLivraison = $event">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioTypeDate" [(ngModel)]="typeDate" required>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" name="typeDateE" id="dateEstimee" autocomplete="off" value= "E"> Estimée
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" name="typeDateR" id="dateReelle" autocomplete="off" value= "R"> Réelle
              </label>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="msgOk">
          <div class="col-sm-10 alert alert-success">{{msgOk}}</div>
        </div>
        <div class="row" *ngIf="msgKo">
          <div class="col-sm-10 alert alert-danger">{{msgKo}}</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" [disabled]="!ajouterCommandeForm.form.valid" ><i class="fas fa-check"></i><span [innerHTML]="txtBtnAjouter"></span></button>
            <button class="btn btn-danger" (click)="onAnnuler(); $event.preventDefault()"><i class="fas fa-times"></i> Annuler</button>
          </div>
        </div>
      </form>
  </div>
</div>
