<!-- Liste des colis commandés -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Détail de la commande <strong>#{{idCommande}}</strong></h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th scope="col"class="hidden-xs hidden-sm"></th>
                  <th scope="col">Nom</th>
                  <th scope="col" class="hidden-xs hidden-sm">Adresse</th>
                  <th scope="col" class="hidden-xs">Téléphone</th>
                  <th scope="col">Colis</th>
                  <th scope="col">Statut</th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody *ngFor="let ligne of lignesClientsCommandes; index as i">
              <tr (click)="onAfficherDetail(i)" id="ligneTableau">
                  <th scope="row" class="hidden-xs hidden-sm">{{i+1}}</th>
                  <td>{{ligne.client.prenom | titlecase}} {{ligne.client.nom | uppercase}}</td>
                  <td class="hidden-xs hidden-sm">{{ligne.client.ville | titlecase}}</td>
                  <td class="hidden-xs">{{ligne.client.telephone1 | telephonePipe}}</td>
                  <td>{{ligne.ligneCommande.poidsColis}} Kg</td>
                  <td><span class="badge badge-info">{{ligne.ligneCommande.titreStatut}}</span></td>
                  <td>
                      <button class="btn btn-outline-secondary" (click)="onAfficherDetail(i)"><i class="fas fa-search"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button class="btn btn-primary" (click)="ajouterColis()"><i class="fas fa-plus"></i> Ajouter un colis</button>
  </div>
</div>
<br>
<br>
<span *ngIf="ligneDetail">
    <app-detail-colis [ligneCommandeClient]=ligneDetail [facture]=ligneFacture (fermerDetail)="setNoDetail()" (modifierEvent)="modifierColis($event)" (apresSuppression)="refresh()"></app-detail-colis>
</span>
<span *ngIf="voirAjoutColis">
    <app-ajouter-colis [idCommandeColis]=idCommande [ligneCommandeInitiale]=ligneAModifier (fermerAjout)="setNoAjout()" (apresAjout)="refresh()"></app-ajouter-colis>
</span>