<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="/commande/last" routerLink="/commande/last">Colis de Bolin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/commande/last" routerLink="/commande/last">Accueil <span class="sr-only">(current)</span></a></li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="commandesDropdown" role="button" aria-haspopup="true" aria-expanded="false">Commandes <span class="caret"></span></a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="commandesDropdown">
            <a class="dropdown-item" href="/commande/last" routerLink="/commande/last"><i class="fas fa-search"></i> Commande en cours</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/commande/ajouter" routerLink="/commande/ajouter"><i class="fas fa-plus"></i> Nouvelle commande</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#historiqueCommande"><i class="fas fa-clock"></i> Historique des commandes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-chart-pie"></i> Statistiques</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="clientsDropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients <span class="caret"></span></a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="clientsDropdown">
            <a class="dropdown-item" href="/client/ajouter" routerLink="/client/ajouter"><i class="fas fa-plus"></i> Ajouter un client</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-search"></i> Liste des clients</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-user"></i> {{user}}</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-power-off"></i> Déconnexion</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>