<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <title>Admin Colis de Bolin</title>
</head>
<body>
    <div class="container">
      <div id="containerNav"><app-navbar></app-navbar></div>
      <router-outlet></router-outlet>
    </div>
</body>
