<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Commande <strong>#<span *ngIf="lastCommande">{{lastCommande.id}}</span></strong></h3>
        <span class="badge badge-info"><span *ngIf="lastCommande">{{lastCommande.titreStatut}}</span></span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><em>Animal</em></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><em>Avancement</em></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="fas fa-utensils"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="animal">FR {{numRadical}} <strong>{{numTravail}}</strong></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="fas fa-weight-hanging"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="animal"><strong> {{animal.poidsEstime}} kg</strong></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="fas fa-calendar-alt"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p>
                    <span *ngIf="lastCommande">
                        <strong><span *ngIf="lastCommande.dateLivraisonReelle;else date_estimee"> {{lastCommande.dateLivraisonReelle | date: 'd MMMM'}}</span></strong>
                        <ng-template #date_estimee>{{lastCommande.dateLivraisonEstimee | date: 'd MMMM'}}</ng-template>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!--<p>Date de création : 03/02/2018</p>-->
        <!-- Insérer la date de création de la commande ?-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>
                    <ngb-progressbar showValue="true" [type]="typeProgressBar" [value]="avancement" [max]="100">
                    </ngb-progressbar>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>
                    <strong *ngIf="stat" [ngClass]="depassement ? 'text-danger' : 'text-body'">{{stat.kgRestant}} Kg restants, 
                        <span id="txtStat">soit {{stat.nbColisMinRestant}} <span *ngIf="stat.nbColisMinRestant != stat.nbColisMaxRestant">à
                            {{stat.nbColisMaxRestant}} </span>colis</span>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-toolbar" role="toolbar" aria-label="barre d'action">
        <div class="btn-group mr-1" role="group" aria-label="Ajouter colis">
            <button class="btn btn-primary" (click)="onAjouterColis()"><i class="fas fa-plus"></i> Ajouter un colis</button>
        </div>
        <div class="btn-group mr-1" role="group" aria-label="Voir colis">
            <button class="btn btn-info" (click)="onVoirDetail()"><i class="fas fa-search"></i> Voir les colis</button>
        </div>
        <div class="btn-group mr-1" role="group" aria-label="Modifier commande">
            <button class="btn btn-secondary" (click)="onModifierCde()"><i class="fas fa-pen"></i> Modifier</button>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Autres actions</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item text-success bg-dark"><i class="fas fa-euro-sign"></i> Générer les factures</button>
              <button class="dropdown-item text-warning bg-dark"><i class="fas fa-archive"></i> Archiver</button>
              <button class="dropdown-item text-danger bg-dark"><i class="fas fa-trash-alt"></i> Supprimer</button>
              <button class="dropdown-item text-white bg-dark" (click)="onAjouterCde()"><i class="fas fa-plus"></i> Nouvelle commande</button>
              <!-- Prévoir un bouton "Prévenir arrivée colis" ? Envoi mail... -->
            </div>
        </div>
    </div>
</div>
<br>
<br>