<br>
<br>
<br>
<!-- Commande en cours -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Commande <strong>#<span *ngIf="lastCommande">{{lastCommande.id}}</span></strong></h3>
        <span class="badge badge-info"><span *ngIf="lastCommande">{{lastCommande.titreStatut}}</span></span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><em>Animal</em></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><em>Avancement</em></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="fas fa-utensils"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="animal">FR {{numRadical}} <strong>{{numTravail}}</strong></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="fas fa-weight-hanging"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="animal"><strong> {{animal.poidsEstime}} kg</strong></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="fas fa-calendar-alt"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="lastCommande"><strong> {{lastCommande.dateLivraisonEstimee | date: 'd MMMM'}}</strong></span></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!--<p>Date de création : 03/02/2018</p>-->
        <!-- Insérer la date de création de la commande ?-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p>
                    <ngb-progressbar showValue="true" type="info" [value]="16" [max]="100">
                        <!--{{progressionCde}}-->
                    </ngb-progressbar>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p><strong>{{kgRestant}} Kg restants, <span style="white-space: nowrap;">soit {{colisMinRestant}} à
                            {{colisMaxRestant}} colis</span></strong></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" (click)="onVoirDetail()"><i class="fas fa-search"></i> Ajouter/Voir les colis</button>
        <button class="btn btn-primary"><i class="fas fa-pen"></i> Modifier</button>
        <button class="btn btn-success hidden-xs hidden-sm"><i class="fas fa-euro-sign"></i> Générer les
            factures</button>
        <button class="btn btn-warning"><i class="fas fa-archive"></i> Archiver</button>
        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</button>
        <button class="btn btn-outline-secondary"><i class="fas fa-plus"></i> Nouvelle commande</button>
        <!-- Prévoir un bouton "Prévenir arrivée colis" ? Envoi mail... -->
    </div>
</div>
<br>
<br>