<br>
<br>
<br>
<!-- Commande en cours -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Commande <strong>#<span *ngIf="lastCommande">{{lastCommande.id}}</span></strong></h3>
        <span class="label label-info"><span *ngIf="lastCommande">{{lastCommande.titreStatut}}</span></span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><em>Animal</em></p>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p><em>Avancement</em></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="glyphicon glyphicon-cutlery"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="animal">FR {{numRadical}} <strong>{{numTravail}}</strong></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="glyphicon glyphicon-scale"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="animal"><strong> {{animal.poidsEstime}} kg</strong></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <p><i class="glyphicon glyphicon-calendar"></i></p>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <p><span *ngIf="lastCommande"><strong> {{lastCommande.dateLivraisonEstimee | date: 'd MMMM'}}</strong></span></p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!--<p>Date de création : 03/02/2018</p>-->
        <!-- Insérer la date de création de la commande ?-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="16" aria-valuemin="0"
                        aria-valuemax="100" style="min-width: 2em; width: 16%;">
                        {{progressionCde}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p><strong>{{kgRestant}} Kg restants, <span style="white-space: nowrap;">soit {{colisMinRestant}} à
                            {{colisMaxRestant}} colis</span></strong></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" (click)="onVoirDetail()"><i class="glyphicon glyphicon-search"></i> Ajouter/Voir les colis</button>
        <button class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Modifier</button>
        <button class="btn btn-success hidden-xs hidden-sm"><i class="glyphicon glyphicon-euro"></i> Générer les
            factures</button>
        <button class="btn btn-warning"><i class="glyphicon glyphicon-check"></i> Archiver</button>
        <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Supprimer</button>
        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Nouvelle commande</button>
        <!-- Prévoir un bouton "Prévenir arrivée colis" ? Envoi mail... -->
    </div>
</div>
<br>
<br>